doctype 1.1
html(xmlns='http://www.w3.org/1999/xhtml')
head
  include includes/styles
  style
    :stylus
      body 
        background-color #252525

body
  file-browser
  //- load renderer
  script.
        require("./renderer.js")

  //- load external javascripts
  include includes/external-libraries
 
  //- load local javascripts
  - rnd = Math.random()
  //- script(type='text/javascript', src='/javascripts/layout.js')



  //- load customize-sortable file
  include includes/custom-scripts
 
  //- load riot components
  script(type="text/javascript" ,src="components/components.js?#{rnd}")


  script
    :coffee-script
      tag = riot.mount "file-browser", fileManager.buildFileModel("file-system-test")
      tag[0].on 'fileChosen', (file)->
        # when user double clicks on a python file, run the file via pythonManager. log results to console
